#pic{
    margin-top: 300px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

#search {
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding: 10px;
    margin-top: 20px;
    width:700px;
    border-radius: 45px;
    border: 2px solid lightgrey;

}

#search:hover {
    box-shadow: 0px 1px 6px #cecece;
}

#buttons {
    padding-top: 30px;
    text-align: center;
    padding-inline: 30px;
}

#button{
    width: 300px;
    height: 70px;
    background-color:#f8f8f8;
    border: none;
}

#button:hover{
    border: 1px solid #c6c6c6;

}

.language {
    text-align: center;
    font-family: arial,san-serif;
    font-size: 25px;
}

#left{
    text-align: left;
    margin-left: -20px;
    font-family: arial, san-serif;
    font-size: 25px;
    display: inline;
    padding: 8px;
    

}

a {
    display: inline;
    padding: 8px;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

#right {
    display: inline;
    float: right;
    margin-right: 20px;
    padding: 8px;
    font-family: arial,san-serif;
    font-size:25px;
}

#button2{
    background-color: #4285f4;
    height: 40px;
    width: 100px;
    font-weight: bold;
    color: white;
    font-family: arial,sans-serif;
    font-size: 20px;
}

.country{
    margin-left: 35px;
    text-align: left;
    font-family: arial, san-serif;
    font-size: 25px;
}


#left2{
    text-align: left;
    margin-left: -20px;
    font-family: arial, san-serif;
    font-size: 25px;
    display: inline;
    padding: 8px;
}

#right2 {
    display: inline;
    float: right;
    margin-right: 20px;
    padding: 8px;
    font-family: arial,san-serif;
    font-size:25px;
}

footer {
    margin-top: 706px;
    background-color: #eee;
    height: 100px;
}
